In [19]:
import pandas as pd
import numpy as np

In [32]:
df = pd.DataFrame({'B': [0, 1, 2, np.nan, 4]})
df.rolling(2, win_type='triang').sum()

     B
0  NaN
1  1.0
2  2.5
3  NaN
4  NaN

In [31]:

df.rolling(2).sum()

     B
0  NaN
1  1.0
2  3.0
3  NaN
4  NaN

In [34]:
df2 = pd.read_csv("file/apple.csv", parse_dates =["date"], index_col ="date")
df2.head()

                      close         volume    open    high       low
date
2020-08-13 16:00:00  192.23     46,541,444  191.72  197.18  191.4501
2018-11-13 00:00:00  192.23  46725710.0000  191.63  197.18  191.4501
2018-11-12 00:00:00  194.17  50991030.0000  199.00  199.85  193.7900
2018-11-09 00:00:00  204.47  34317760.0000  205.55  206.01  202.2500
2018-11-08 00:00:00  208.49  25289270.0000  209.98  210.12  206.7500

In [35]:
df2.close.rolling(2).mean()

date
2020-08-13 16:00:00        NaN
2018-11-13 00:00:00    192.230
2018-11-12 00:00:00    193.200
2018-11-09 00:00:00    199.320
2018-11-08 00:00:00    206.480
2018-11-07 00:00:00    209.220
2018-11-06 00:00:00    206.860
2018-11-05 00:00:00    202.680
2018-11-02 00:00:00    204.535
2018-11-01 00:00:00    214.850
2018-10-31 00:00:00    220.540
2018-10-30 00:00:00    216.080
2018-10-29 00:00:00    212.770
2018-10-26 00:00:00    214.270
2018-10-25 00:00:00    218.050
2018-10-24 00:00:00    217.445
2018-10-23 00:00:00    218.910
2018-10-22 00:00:00    221.690
2018-10-19 00:00:00    219.980
2018-10-18 00:00:00    217.665
2018-10-17 00:00:00    218.605
2018-10-16 00:00:00    221.670
2018-10-15 00:00:00    219.755
2018-10-12 00:00:00    219.735
2018-10-11 00:00:00    218.280
2018-10-10 00:00:00    215.405
2018-10-09 00:00:00    221.615
2018-10-08 00:00:00    225.320
2018-10-05 00:00:00    224.030
2018-10-04 00:00:00    226.140
                        ...
2017-12-26 00:00:00    170.585
2017-12-22 00:00:00    172.790
2017-12-21 00:00:00    175.010
2017-12-20 00:00:00    174.680
2017-12-19 00:00:00    174.445
2017-12-18 00:00:00    175.480
2017-12-15 00:00:00    175.195
2017-12-14 00:00:00    173.095
2017-12-13 00:00:00    172.245
2017-12-12 00:00:00    171.985
2017-12-11 00:00:00    172.185
2017-12-08 00:00:00    171.020
2017-12-07 00:00:00    169.345
2017-12-06 00:00:00    169.165
2017-12-05 00:00:00    169.325
2017-12-04 00:00:00    169.720
2017-12-01 00:00:00    170.425
2017-11-30 00:00:00    171.450
2017-11-29 00:00:00    170.665
2017-11-28 00:00:00    171.275
2017-11-27 00:00:00    173.580
2017-11-24 00:00:00    174.530
2017-11-22 00:00:00    174.965
2017-11-21 00:00:00    174.050
2017-11-20 00:00:00    171.560
2017-11-17 00:00:00    170.065
2017-11-16 00:00:00    170.625
2017-11-15 00:00:00    170.090
2017-11-14 00:00:00    170.210
2017-11-13 00:00:00    172.655
Name: close, dtype: float64